@charset "UTF-8";
 body{
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    h1{
        color: rgb(77, 1, 255);
    }
    h2{
        color: brown;
        background-color: chartreuse;
    }
    p{
        text-align: justify;
    }
} 